@media screen and (max-width:820px) {
    .cart {
        grid-template-columns:  1fr;
        >aside {
            min-height: 10rem;
            padding: 1rem;
            border-radius: 100px 100px 0 0;
            box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.1);
    
            >h4 {
                font: 100 1.2rem "Roboto";
                &:last-of-type {
                    font-weight: 600;
                    opacity: 1;
                }
            }
        }
    
    }
    
    .cartItem {
        >img {
            height: 150px;
            width: 200%;
        }
        >article{
            h3,p{
                font-size: 1rem;
            }
    
        }
    
    }

}